<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>hello this is home</h1>

    <form action="" method="post">
        {% csrf_token %}
        <h3>enter name :-</h3>
        <input type="text" name="save">
        <h3>enter number : -</h3>
        <input type="number" name="number">
        <button type="submit"> submit</button>
    </form>
    {% for i in c %}
    <h3>
        my name is {{i.name}} and my phone number is {{i.number}}
    </h3>
    {% endfor %}


</body>
</html>