<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h1{
            text-align: center;
        }
        .container{
            display: flex;
            flex-direction: column;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .btn{
            width: 50%;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>
        I am home
    </h1>
    <div class="container">
        <button class="btn"><a href="/index/1">button1</a></button>
        <button class="btn"><a href="/index/2">button2</a></button>
        <button class="btn"><a href="/index/3">button3</a></button>
    </div>
</body>
</html>