<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup form</title>
</head>
<body>
    <h1 style="text-align: center;">
        Enter fields and signup
    </h1>
    <div class="main">
        <form action="/signup" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password1" placeholder="password">
            <input type="password" name="password2" placeholder="confirm password">
            <button type="submit">signup</button>
        </form>
        <br><br>
        {% for msg in messages %}
        <h3>{{msg}}</h3>
        {% endfor %}
        <br><br>
        <button><a href="/login">Login</a></button>
    </div>

</body>
</html>