<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media File</title>
    <style>
        body{
            background-color: black;
        }
        .main{
            background-color: aqua;
            position: absolute;
            left: 40%;
            top: 20%;
            padding:1cm;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="frm">
            <form action="http://127.0.0.1:8000/pic/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="name" id="" placeholder="name">
                <br>
                <br>
                <input type="file" name="image" id="" placeholder="upload image">
                <br>
                <br>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</body>
</html>